h2 {
  font-size: x-large;
  font-weight: normal;
  width: 50%;
  margin: auto;
  padding-top: 40px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

hr {
  width: 50%;
}

.story-name {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  font-size: large;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
